# Bytecode
__pycache__/
*.pyc

# Virtual environments
venv/

# Model files and scalers
*.pkl
model/

# Data files
data/
*.csv
*.zip
*.xlsx
*.jsonl

# Logs and environment
*.log
.env

# System files
.DS_Store
